MONGOUSER=mongouser
MONGOPASSWORD=mongopassword
MONGOHOST=db.aaaaaa.mongodb.net
MONGODB=mongodb
MONGOAPPNAME=mongoapp

# MONGODB_URI=mongodb+srv://mongouser:8FIwv3hXBanq4h1C@bankdb.4homz0h.mongodb.net/?appName=bankdb